/* Style untuk header */
.header {
    background-color: #625750;
    padding: 20px;
    text-align: center;
    color: yellow;
    margin-bottom: 20px;
}

/* Style untuk footer */
.footer {
    background-color: #625750;
    padding: 10px;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

#review_table {
    font-family: Arial, sans-serif;
    width: 85%;
    border-collapse: collapse;
    text-align: center;
    margin: 0 auto; /* Menengahkan tabel horizontal di halaman */
    padding: 20px;
}

#review_table td, #review_table th {
    border: 1px solid #070707;
    padding: 8px;
    margin-bottom: 20px;
}

#review_table tr:nth-child(even){
    background-color: #e6e2d3;
}

#review_table tr:nth-child(odd){
    background-color: #e6e2d3;
}

#review_table tr:hover {
    background-color: #e0e2e4;
    text-align: center;
}

#review_table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #625750;
    color: #e0e2e4;
}

.modal-dialog {
    max-width: 600px; 
}

.modal-content {
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(104, 98, 98, 0.884);
}

.modal-header {
    background-color: #625750; 
    color: #f7f1f1; 
    border-radius: 10px 10px 0 0; 
    padding: 15px;
}

.btn-close {
    color: #1a56ee;
}

/* Style the modal body */
.modal-body {
    padding: 20px; 
    background-color: #e6e2d3;
}

/* Style form elements */
select, input[type="text"], textarea {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #c3c1c0;
    border-radius: 5px;
    background-color: #f7f9fc;
}

.rating input[type="radio"] {
    display: default;
}

.rating label {
    cursor: pointer;
    padding: 5px;
}

.rating label:before {
    content: "\2605"; 
    font-size: 20px;
    color: #625750; 
}

.rating input[type="radio"]:checked ~ label:before {
    color: #fddb27; 
}

.modal-footer {
    border-radius: 0 0 10px 10px;
    padding: 15px;
    background-color: #625750;
}

.btn-primary {
    background-color: #dac292; 
    color: #47403b; 
    margin-top: 10px;
    margin-bottom: 10px;
}

.btn-secondary {
    position: absolute;
    top: 10px; 
    left: 10px; 
}