{% extends 'base.html' %}

{% block content %}
    <h1>Misalnya Main Page</h1>
    <form method="POST">
        {% csrf_token %}
        <div id="book-list">
            {% for book in books %}
                <div class="book">
                    <h3>{{ book.title }}</h3>
                    <p>Publication Year: {{ book.year }}</p>
                    <button class="add-bookmark" data-id="{{ book.pk }}">Add to Bookmark</button>
                </div>
            {% endfor %}
        </div>
    </form>

    <br />

    <a href="{% url 'bookmarks:create_product' %}">
        <button>
            Add New Product
        </button>
    </a>
    <a href="{% url 'bookmarks:show_bookmarks' %}">
        <button>
            Bookmarks
        </button>
    </a>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            // Add event listener to Add to Bookmark buttons
            const addBookmarkButtons = document.querySelectorAll('.add-bookmark');
            addBookmarkButtons.forEach(button => {
                button.addEventListener('click', function () {
                    const bookId = this.getAttribute('data-id');
                    addBooks(bookId);
                });
            });

            // Function to add a book to bookmarks
            async function addBooks(bookId) {
                const response = await fetch("{% url 'bookmarks:add_bookmark_ajax' %}", {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': '{{ csrf_token }}'
                    },
                    body: JSON.stringify({ bookId: bookId })
                });

                if (response.ok) {
                    alert('Book added to bookmarks');
                } else {
                    alert('Failed to add book to bookmarks');
                }
            }
        });

    </script>
{% endblock content %}



