body {
    height: 770px;
}
header {
    background-color: rgb(160, 160, 160);
    height: 15%;
    position: relative;
}

.title_header {
    position: absolute;
    left: 40%;
    top: 30%;
    display: inline-block;
}

.btn_header {
    position: absolute;
    right: 5%;
    top: 35%;
    display: inline-block;
}

header > div > a {
    text-decoration: none;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
}

aside {
    background-color: gray;
    height: 80%;
}

aside > div {
    height: 95%;
    width: 100%;
    overflow: auto;
}

table {
    width: 100%;
}

table > thead {
    position: sticky;
    top: 0;
    background-color: gray;
}

aside > table, th{
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    width: 11%;
    height: 70px;
}

aside > table, td{
    text-align: center;
    vertical-align: middle;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 10px;
}

footer {
    background-color: gray;
    height: 10%;
}