body {
    height: 770px;
}
header {
    background-color: aqua;
    height: 10%;
    position: relative;
}

header > div {
    position: absolute;
    right: 5%;
}

header > div > a {
    text-decoration: none;
    background-color: red;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
}

aside {
    background-color: blue;
    height: 80%;
    position: relative;
}

aside > div {
    background-color: blueviolet;
    border: 1px solid black;
    margin: 0 10px 0 10px;
    height: 95%;
    position: absolute;
    width: 99%;
    overflow: auto;
}

aside > table, th{
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
}

aside > table, td{
    text-align: center;
    vertical-align: middle;
    padding-top: 10px;
    padding-bottom: 10px;
}

footer {
    background-color: brown;
    height: 10%;
}