{% extends 'base.html' %}

{% load static %}

{% block meta %}
<link rel="stylesheet" href="{% static 'css/ulasan.css' %}">
{% endblock meta %}

{% block content %}

<!DOCTYPE html>
<html>
<nav class="navbar navbar-expand-lg bg-body-tertiary" style="background-color: #104568 !important">
    <div class="container-fluid">
    <a class="navbar-brand" href="#" style="color:#fff !important">AncestralReads</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" href="#" style="color:#fff !important">Username : {{nama}}</a>
        <a class="nav-link" href="{% url 'pengelola:show_main' %}" style="color:#fff !important">Back to Homepage</a>
        </div>
    </nav>

    <div class="header">
        <h1>Selamat datang di Ulasan Buku</h1>
    </div>

    <h2 style="font-size: 18px; color: #333; text-align: center; padding: 10px; background-color: #e6e2d3;">
        Disini kamu bisa menambahkan review buku-buku yang telah kamu baca dengan menekan tombol "add review here!", selain itu kamu juga bisa menghapus review bukumu jika merasa review yang diberikan tidak sesuai
    </h2>    

    <h3 style="font-size: 18px; color: #333; text-align: center; padding: 10px; background-color: #e6e2d3;">
        Berikut adalah daftar buku yang telah kamu review: 
    </h3>

    <table id="review_table">
    </table>

        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Tambah Ulasan</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form id="review-form" onsubmit="return false;" style="width:100%;">
                            {% csrf_token %}
                            <div class="mb-3">
                                <label for="filter" class="col-form-label" style="display: block; margin-bottom: 5px; text-align: center;">Filter buku sesuai abjad:</label >
                                <select id="filterAlphabet">
                                    <option value="">Semua</option>
                                    <option value="A">A</option>
                                    <option value="B">B</option>
                                    <option value="C">C</option>
                                    <option value="D">D</option>
                                    <option value="E">E</option>
                                    <option value="F">F</option>
                                    <option value="G">G</option>
                                    <option value="H">H</option>
                                    <option value="I">I</option>
                                    <option value="J">J</option>
                                    <option value="K">K</option>
                                    <option value="L">L</option>
                                    <option value="M">M</option>
                                    <option value="N">N</option>
                                    <option value="O">O</option>
                                    <option value="P">P</option>
                                    <option value="Q">Q</option>
                                    <option value="R">R</option>
                                    <option value="S">S</option>
                                    <option value="T">T</option>
                                    <option value="U">U</option>
                                    <option value="V">V</option>
                                    <option value="W">W</option>
                                    <option value="X">X</option>
                                    <option value="Y">Y</option>
                                    <option value="Z">Z</option>                                   
                                </select>                               
                            </div>
                            <div class="mb-3">
                                <label for="buku" class="col-form-label">Judul buku:</label>
                                <select name="buku" id="buku" class="form-control" size="10">
                                    {% for book in books %}
                                        <option value="{{ book.pk }}" data-alphabet="{{ book.title|first }}">{{ book.title }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="mb-3">
                                <label for="reviewer_name" class="col-form-label">Nama:</label>
                                <input type="text" name="reviewer_name" placeholder="Nama Reviewer" id="reviewer_name">
                            </div>
                            <div class="mb-3">
                                <label for="description" class="col-form-label">Ulasan buku:</label>
                                <textarea name="review_text" placeholder="Ulasan" id="review_text"></textarea>                             
                            </div>
                            <div class="mb-3">
                                <label for="rating" class="col-form-label" >Rating buku (poin):</label>
                                <div class="rating">
                                    <input type="radio" id="star5" name="rating" value="5"><label for="star5">+5</label>
                                    <input type="radio" id="star4" name="rating" value="4"><label for="star4">+4</label>
                                    <input type="radio" id="star3" name="rating" value="3"><label for="star3">+3</label>
                                    <input type="radio" id="star2" name="rating" value="2"><label for="star2">+2</label>
                                    <input type="radio" id="star1" name="rating" value="1"><label for="star1">+1</label>
                                </div>                                
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" id="button_add" data-bs-dismiss="modal">Add Ulasan</button>
                    </div>
                </div>
            </div>
        </div>
  
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" style="margin-left: 110px; margin-top: 30px;">Add Review Here!</button>

    <script src="{% static 'js/ulasan.js' %}"></script>

{% endblock content %}